@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@500&family=Montserrat:wght@100;300;400;500;600&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,700;6..12,800;6..12,900&display=swap');

:root {
    --color-grayscale-1: #fff;
    --color-grayscale-2: #dedede;
    --color-grayscale-3: #ccc;
    --color-grayscale-4: #666;
    --color-grayscale-5: #4d4d4d;
    --color-grayscale-6: #262626;
    --color-grayscale-7: #000;
    --color-bright-1: #fae69e;
    --color-bright-2: #f4d04e;
    --color-bright-3: #fccc1c;
    --color-bright-4: #eeba01;
    --color-bright-5: #7e6300;
    --color-warm-0: #ffe7df;
    --color-warm-1: #ffb199;
    --color-warm-2: #ff8a66;
    --color-warm-3: #ff6333;
    --color-warm-4: #db2c00;
    --color-warm-5: #661800;
    --color-warm-6: #270900;
    --color-pink-1: #f99fb6;
    --color-pink-2: #f66f91;
    --color-pink-3: #f33f6c;
    --color-pink-4: #dd0e42;
    --color-pink-5: #60061d;
    --color-purple-1: #e3b5db;
    --color-purple-2: #d68fc9;
    --color-purple-3: #ba45a5;
    --color-purple-4: #7b2d6d;
    --color-purple-5: #381531;
    --color-green-1: #8bf3ec;
    --color-green-2: #56dcd3;
    --color-green-3: #23a9a0;
    --color-green-4: #1a7f78;
    --color-green-5: #115550;
    --color-green-6: #051c1a;


    --fontHeader: 2.5rem;
    --fontsizeH1: 2rem;
    --fontsizeh2: 1.3rem;
    --fontsizeh3: 1.1rem;
    --fontsizeh4: 1rem;
    --fontsizeh5: 0.8rem;
}
/* Fra google fonts:
Font families
font-family: 'Bebas Neue', sans-serif;
font-family: 'Comfortaa', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    font-family: 'Nunito Sans', sans-serif;

	min-height: 100vh;
    margin:0;
	padding:0;
	background: var(--color-grayscale-1);
}
/* ------------------------------------------------------------------------------------------ */
/* ---------------------- H E A D E R / NAV-BAR   ------------------------------------------- */
/* ------------------------------------------------------------------------------------------ */
header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

nav {
    background-color: var(--color-grayscale-1);
    box-shadow: 0 0 2em rgba(0, 0, 0, .1);
    margin-bottom: 2rem;
    padding: 1.5rem 0rem 1.5rem 0rem;
    font-weight: 500;

    display: flex;
    justify-content: space-between;
}

nav .logo{
    display: flex;
    align-items: center;

    margin-left: 5%;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding-left: 0.5rem;
    font-weight: 600;
    font-stretch: 100%;
    font-size: var(--fontHeader);
    color: var(--color-warm-5);
    text-shadow: 0px 5px 5px 5px rgba(0, 0, 0, .9);
}

 nav .nav-list {
    padding-right: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;

    display: flex;
    align-items: center;
}

nav .nav-list .fa-solid {
    color: var(--color-warm-1);
    font-size: 1.5rem;
    padding: 0.6rem;
    margin-right: 5%;
}

/* ----------------------------------------------------------------------------------------- */
/* --------------------------  M A I N - ALLE SIDER  --------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

main {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.cat-header {
    font-size: var(--fontHeader);
    font-weight:600;

    letter-spacing: 0.6rem;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

/* ---------------------------------------------------------------------------------------------- */
/* ----------------------------  I N D E X  /  F O R S I D E  ----------------------------------- */
/* ---------------------------------------------------------------------------------------------- */


main .bg-img {
    background-image: url(/IMG/sneaker-4687823_1280.jpg);
    /*Link: https://pixabay.com/no/photos/sneaker-air-jordan-1-sko-joggesko-4687823/ Bildet er tatt av <a href="https://pixabay.com/no/users/domenik2212-11054730/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4687823">Domenik</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4687823">Pixabay</a>*/
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    padding: 3rem 0rem 3rem 0rem;
    margin: 1rem 0rem 1rem 0rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

main .bg-img .info {
    width: 100%;
    height: auto;
    top: 50%;
    text-align: align;
}

main .bg-img .info .head {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: var(--fontHeader);
    font-weight: 500;
    color: var(--color-grayscale-1);
    text-shadow: 0px 5px 5px 5px rgba(0, 0, 0, .5);
}

main .bg-img .info .head h1 {
    margin-top: -2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .4);
}

main .bg-img .info .head h1 span {
    color: var(--color-warm-1);
    text-shadow: 0px 5px 5px 5px rgba(255, 255, 255, 0.5);
}

main .bg-img .info .head p {
    width: 100%;
    height: auto;

    text-align: center;
    font-size: var(--fontsizeh4);
    font-weight: 500;
    font-style: italic;
    color: var(--color-warm-3);

    background-color: rgba(0, 0, 0, .4);

}

main .bg-img .info .search {
    /* position: relative
    transform: translateX(-50%)*/
    width: 100%;
    height: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, .4);
}

#search-input{
    max-width: 50%;
    height: 3.4rem;
    border-radius: 0.9rem 0rem 0rem 0.9rem;
}
#search-submit{
    width: 15%;
    height: 3.4rem;
    border-radius: 0rem 0.9rem 0.9rem 0rem;
    background:var(--color-grayscale-1) ;
    color: var(--color-warm-2);
    text-align: center;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

main .bg-img .info .search input[type="text"]{
    height: 50px;
    width: 98%;
    font-weight: 200;
    font-size: 1rem;
    text-align:center;
    outline: none;
    border: none;
    color: var(--color-warm-2);
}

main .bg-img .info .search input[type="text"]:focus::placeholder {
    color: transparent;
  }

main .bg-img .info .search input[type="submit"]{
    font-weight: 200;
    font-size: 1rem;
    padding: 0.1rem;
    outline: none;
    border: none;
    cursor: pointer;
    background:var(--color-grayscale-1) ;
    color: var(--color-warm-2);
}

::placeholder {
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-grayscale-6);
}

.qs-container {
    max-width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: rgba(0, 0, 0, .4);
}

.qs-content {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--fontsizeh5);
    font-weight: 500;

    padding: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.qs-container h1 {
    width: 100%;
    height: auto;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    color: var(--color-grayscale-1);
    font-size: var(--fontsizeh2);
    padding: 2rem;
}

.qs-button {
    padding: 0.9rem;
    border-radius: 1.5rem;

    background-color: var(--color-pink-2);
    border: var(--color-pink-2);
    color: var(--color-grayscale-1);
    box-shadow: 0 .125em .5em rgba(0, 0, 0, .5);

    text-decoration: none;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

/* ---------------------------------------------------------------------------------------------- */
/* --------------------------------  P R O D U K T S I D E  ------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

/* --------------------------  P R O D U K T S I D E - Nyhetsseksjon   ---------------------------------- */

.section-container-1 {
    margin: 0px;
    width: 100%;
    padding: 40px 0px 40px 0px;

    background-color: var(--color-warm-3);  /* i tilfelle background image (fargene) ikke skal lastes opp */
    background-image: linear-gradient(120deg, var(--color-warm-3),var(--color-bright-4));
}

.news-container {
    background-image: url(/IMG/sneakers-5578127_1280.jpg);
    /*Link: https://pixabay.com/no/photos/joggesko-sko-fott%C3%B8y-air-jordan-3-5578127/ Bildet er tatt av <a href="https://pixabay.com/no/users/marzuk-17536011/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5578127">Mohamed Marzuk Mohamed Ansari</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5578127">Pixabay</a> */ 
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.news-button {
    background-color: var(--color-grayscale-1);
    width: 10rem;
    height: 2.7rem;
    padding: 0.8rem;
    margin-bottom: 10px;
    border-radius: 15px;

    color: var(--color-warm-4);
    font-size: 0.8rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 .125em .5em var(--color-grayscale-6);
}

/* --------------------------  P R O D U K T S I D E - Kategorier   ---------------------------------- */

.category-container {    
    padding: 0px;

    background-color: rgba(255, 127, 52, 0.1);
    width: 100%;
}

.category-header {
    font-size: var(--fontHeader);
    font-weight:600;

    letter-spacing: 0.6rem;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.category-header-color {
    color: var(--color-warm-3);
}

.category {
   display: flex; 
   justify-content: space-evenly;
   flex-wrap: wrap;

   text-align: center;
   color: var(--color-cool-4);
}

.category-items {
    padding: 100px;
    margin: 0px;
    box-shadow: 0 .125em .5em var(--color-grayscale-6);
    
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width: 300px;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
}

.category-button {
    color: var(--color-grayscale-1);
    font-size: 1rem;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    background-color: var(--color-warm-4);

    width: 300px;
    padding: 1rem;
    margin: 0.5rem 0rem 2rem 0rem;
    border: var(--color-cool-4) solid 1px;
    border-radius: 0.1rem;
    box-shadow: 0 .125em .5em var(--color-grayscale-6); 
}

/* --------------------------  P R O D U K T S I D E - Trendy   ---------------------------------- */

.section-container-2 {
    margin: 0px;
    width: 100%;
    padding: 30px 0px 30px 0px;

    background-color: var(--color-bright-4); /* i tilfelle background image (fargene) ikke skal lastes opp */
    background-image: linear-gradient(120deg, var(--color-bright-4),var(--color-warm-3));
}

.previews-header {
    font-size: var(--fontHeader);
    font-weight:600;

    color: var(--color-grayscale-1);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.trendy-container {
    margin: 10px;

    background-image: url(/IMG/feet-1840619_1280.jpg);
    /*Link: https://pixabay.com/no/photos/f%C3%B8tter-fott%C3%B8y-nike-sko-joggesko-1840619/ Bildet er tatt av <a href="https://pixabay.com/no/users/pexels-2286921/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1840619">Pexels</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1840619">Pixabay</a> */
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width: 95%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.trendy-button {
    background-color: var(--color-grayscale-1);
    color: var(--color-warm-5);
    font-size: 1rem;
    font-weight: 800;
    width: 10rem;
    height: 2.8rem;
    padding: 0.8rem;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    box-shadow: 0 .125em .5em var(--color-grayscale-6);
}

/* ------------------------ Kategori 1: bildelinker til høstmote------------------------ */
#mote-1{
    background-image: url(/IMG/winter-boots-3867775_1280.jpg);
    /* Link: https://pixabay.com/no/photos/st%C3%B8vler-sko-skinn-st%C3%B8vler-varm-3867775/ Bildet er tatt av <a href="https://pixabay.com/no/users/armennano-9097212/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3867775">armennano</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3867775">Pixabay</a>*/

}
#mote-2 {
    background-image: url(/IMG/boots-1867379_1280.jpg);
    /*Link: https://pixabay.com/no/photos/st%C3%B8vler-pike-fotturer-l%C3%A6r-st%C3%B8vler-1867379/  Bildet er tatt av <a href="https://pixabay.com/no/users/pexels-2286921/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1867379">Pexels</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1867379">Pixabay</a>*/
}
#mote-3{
    background-image: url(/IMG/shoes-4026766_1280.jpg);
    /* Link: https://pixabay.com/no/photos/sko-sneaker-mote-fritid-sommer-4026766/ Bildet er tatt av <a href="https://pixabay.com/no/users/jhathome-5696170/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4026766">jhathome</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4026766">Pixabay</a>*/
}
/* ------------------------ Kategori 2: bildelinker til casual------------------------ */
#casual-1 {
    background-image: url(/IMG/footwear-5408643_1280.jpg);
    /* Link: https://pixabay.com/no/photos/fott%C3%B8y-joggesko-mote-f%C3%B8tter-sko-5408643/ Bildet er tatt av <a href="https://pixabay.com/no/photos/fott%C3%B8y-joggesko-mote-f%C3%B8tter-sko-5408643/">Joseph Mucira</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5408643">Pixabay</a>*/
}

#casual-2 {
    background-image: url(/IMG/jordan-4657349_1280.jpg);
    /* Link: https://pixabay.com/no/photos/jordan-sko-nike-sport-atlet-4657349/ Bildet er tatt av <a href="https://pixabay.com/no/users/megashock-6587469/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4657349">megashock</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4657349">Pixabay</a>*/
}

#casual-3 {
    background-image: url(/IMG/nike-5128118_1280.jpg);
    /* Link: https://pixabay.com/no/photos/nike-sportsko-sneaker-joggesko-5128118/ Bildet er tatt av <a href="https://pixabay.com/no/users/grailify-15961668/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5128118">grailify</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5128118">Pixabay</a> */ 
}
/* ------------------------ Kategori 3: bildelinker til atletisk------------------------ */
#fri-1{
    background-image: url(/IMG/walking-boots-3832373_1280.jpg);
    /*Link: https://pixabay.com/no/photos/g%C3%A5sko-st%C3%B8vler-l%C3%A6r-fjellsko-3832373/  Bildet er tatt av <a href="https://pixabay.com/no/users/alexas_fotos-686414/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3832373">Alexa</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3832373">Pixabay</a>*/
}
#fri-2 {
    background-image: url(/IMG/walking-boots-3054634_1280.jpg);
    /*Link: https://pixabay.com/no/photos/g%C3%A5sko-st%C3%B8vler-l%C3%A6r-fjellsko-3054634/ Bildet er tatt av <a href="https://pixabay.com/no/users/alexas_fotos-686414/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3054634">Alexa</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3054634">Pixabay</a>*/
}
#fri-3 {
    background-image: url(/IMG/walking-boots-220499_1280.jpg);
    /*Link: https://pixabay.com/no/photos/g%C3%A5ing-st%C3%B8vler-fjellst%C3%B8vler-sko-220499/ Bildet er tatt av <a href="https://pixabay.com/no/users/no-longer-here-19203/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=220499">No-longer-here</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=220499">Pixabay</a>*/
}
/* ------------------------ Kategori 4: bildelinker til fancy------------------------ */

#fancy-1 {
    background-image: url(/IMG/fashion-601565_1280.jpg);
    /* Link: https://pixabay.com/no/photos/mote-sko-l%C3%A6r-fott%C3%B8y-stil-menn-601565/ Bildet er tatt av <a href="https://pixabay.com/no/users/stokpic-692575/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=601565">stokpic</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=601565">Pixabay</a>*/
}
#fancy-2 {
    background-image: url(/IMG/black-shoes-2752226_1280.jpg);
    /*Link: https://pixabay.com/no/photos/svarte-sko-l%C3%A6rsko-brukte-sko-2752226/ Bildet er tatt av <a href="https://pixabay.com/no/users/xaytham-6450391/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2752226">Haytham Marzouk</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2752226">Pixabay</a>*/ 
}
#fancy-3 {
    background-image: url(/IMG/chelsea-boot-for-men-5851885_1280.jpg);
    /* Link: https://pixabay.com/no/photos/chelsea-st%C3%B8vel-for-menn-5851885/ Bildet er tatt av <a href="https://pixabay.com/no/users/smithnoah373-19530830/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5851885">Noah Smith</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5851885">Pixabay</a>*/
}


/* ---------------------------------------------------------------------------------------------- */
/* ----------------------------  V A L G F R I  /  O M  O S S  ---------------------------------- */
/* ---------------------------------------------------------------------------------------------- */



#header-color-1 {
    color: var(--color-warm-3);
}

#omoss-image {
    width: 100%;
    height: auto;
    background-color: var(--color-grayscale-1);
    object-fit: cover;
    object-position: center;
    padding: 1rem 0rem 1rem 0rem;
    margin: 0.5rem 0rem 0.5rem 0rem;
}

.omoss-container {
    text-align: center;
    font-weight: 200;
    font-size: var(--fontsizeh5);
    padding: 1rem 0rem 3rem 0rem;
    margin: 0.2rem 0rem 1rem 0rem;
}

h2 {
   color: var(--color-warm-4); 
}

/* ---------------------------------------------------------------------------------------------- */
/* --------------------------------------  F O O T E R   ---------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */


footer {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;

    background-color: var(--color-grayscale-1);
    background-image: linear-gradient(var(--color-grayscale-1), var(--color-warm-0));
    box-shadow: 0 0 2em rgba(0, 0, 0, .1);
    padding: 1rem;

    text-align: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}

footer .service {
    list-style: none;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer .service li a{
    text-decoration: none;
    color: var(--color-purple-3);
}

footer .service li a:visited{
    text-decoration: none;
    color: var(--color-purple-4);
}

footer .social-media {
    list-style: none;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    padding: 0.6rem;
    font-weight: 400;

    display: flex;
    justify-content: space-evenly;
}

footer .social-media .fa-brands{
    text-align: center;
    color: var(--color-purple-3);
    font-size: 1.8rem;
    padding: 0.6rem;
}

/* ---------------------------------------------------------------------------------------------- */
/* -------------------------------------- M E D I A  Q U E R I E S   ---------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */


@media screen and (min-width: 600px){
    /*  g r i d */
    body {
        display: grid;
        grid-template-columns: 1fr 60% 1fr;
        grid-template-rows: 30% 1fr 20%;
    }
    /* h e a d er */
    header {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    /* m a i n */
    main  {
        grid-column-start: 1;
        grid-column-end: 4;
    }

     /* Produktside - nyhet */
     .section-container-1, .section-container-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

     .news-container, .trendy-container  {
        width: 70%;
        height: 500px;
     }

     .news-button {
        width: 15rem;
        height: 3.2rem;
        padding: 0.8rem;
        margin-bottom: 10px;
        border-radius: 15px;
        
        text-decoration: none;
        letter-spacing: 0.1rem;
        font-size: 1.2rem;
     }

     .news-button:hover {
        color: var(--color-warm-3);
        letter-spacing: 0.2rem;
    }
    /* Produktside - kategorier*/

    .category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .category-items {
        width: 600px;
        height: 500px;
    }

    .category-button {
        width: 600px;
        height: fit-content;
    }

    .category-button:hover {
        text-decoration: none;
        letter-spacing: 0.1rem;
        background-color: var(--color-warm-3);
    }

    /*  produktside - trendy*/

    .trendy-button { 
        width: 15rem;
        height: 3.2rem;
        padding: 0.8rem;
        margin-bottom: 10px;
        border-radius: 15px;
        
        text-decoration: none;
        letter-spacing: 0.1rem;
        font-size: 1.2rem;
    }

    .trendy-button:hover {
        color: var(--color-warm-3);
        letter-spacing: 0.2rem;
    }

    /* o m  o s s */

    .omoss-container{
    font-weight: 200;
    font-size: var(--fontsizeh3);
    padding: 1rem;
    }

    /* f o o t e r */
    footer{
        grid-column-start: 1;
        grid-column-end: 4;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        text-align: center;
        font-size: 1rem;
    }

    footer .service li a:hover{
        text-decoration: none;
        color: var(--color-pink-4);
        letter-spacing: 0.5rem;
    }
    footer .social-media .fa-brands:hover{
        text-align: center;
        color: var(--color-pink-4);
        font-size: 2rem;
        padding: 0.6rem;
    }
}
