@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@500&family=Montserrat:wght@100;300;400;500;600&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,700;6..12,800;6..12,900&display=swap');

:root {
    --color-grayscale-1: #fff;
    --color-grayscale-2: #dedede;
    --color-grayscale-3: #ccc;
    --color-grayscale-4: #666;
    --color-grayscale-5: #4d4d4d;
    --color-grayscale-6: #262626;
    --color-grayscale-7: #000;
    --color-bright-1: #fae69e;
    --color-bright-2: #f4d04e;
    --color-bright-3: #fccc1c;
    --color-bright-4: #eeba01;
    --color-bright-5: #7e6300;
    --color-warm-0: #ffe7df;
    --color-warm-1: #ffb199;
    --color-warm-2: #ff8a66;
    --color-warm-3: #ff6333;
    --color-warm-4: #db2c00;
    --color-warm-5: #661800;
    --color-warm-6: #270900;
    --color-pink-1: #f99fb6;
    --color-pink-2: #f66f91;
    --color-pink-3: #f33f6c;
    --color-pink-4: #dd0e42;
    --color-pink-5: #60061d;
    --color-purple-1: #e3b5db;
    --color-purple-2: #d68fc9;
    --color-purple-3: #ba45a5;
    --color-purple-4: #7b2d6d;
    --color-purple-5: #381531;
    --color-green-1: #8bf3ec;
    --color-green-2: #56dcd3;
    --color-green-3: #23a9a0;
    --color-green-4: #1a7f78;
    --color-green-5: #115550;
    --color-green-6: #051c1a;

    --fontHeader: 2.5rem;
    --fontsizeH1: 2rem;
    --fontsizeh2: 1.3rem;
    --fontsizeh3: 1.1rem;
    --fontsizeh4: 1rem;
    --fontsizeh5: 0.8rem;
}
/* Fra google fonts:
Font families
font-family: 'Bebas Neue', sans-serif;
font-family: 'Comfortaa', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    font-family: 'Nunito Sans', sans-serif;

	min-height: 100vh;
    margin:0;
	padding:0;
	background: var(--color-grayscale-1);
}
/* ------------------------------------------------------------------------- */
/* ---------------- H E A D E R / NAV-BAR   --------------------------------- */
/* -------------------------------------------------------------------------- */
header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

nav {
    background-color: var(--color-grayscale-1);
    box-shadow: 0 0 2em rgba(0, 0, 0, .1);
    margin-bottom: 2rem;
    padding: 1.5rem 0rem 1.5rem 0rem;
    font-weight: 500;

    display: flex;
    justify-content: space-between;
}

nav .logo{
    display: flex;
    align-items: center;

    margin-left: 5%;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding-left: 0.5rem;
    font-weight: 600;
    font-stretch: 100%;
    font-size: var(--fontHeader);
    color: var(--color-grayscale-4);
    text-shadow: 0px 5px 5px 5px rgba(0, 0, 0, .9);
}

 nav .nav-list {
    padding-right: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;

    display: flex;
    align-items: center;
}

nav .nav-list .fa-solid {
    color: var(--color-warm-1);
    font-size: 1.5rem;
    padding: 0.6rem;
    margin-right: 5%;
}

/* ------------------------------------------------------------------------- */
/* --------------------------  M A I N - ALLE SIDER  -------------------------------------- */
/* -------------------------------------------------------------------------- */

main {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.cat-header {
    font-size: var(--fontHeader);
    font-weight:600;

    letter-spacing: 0.6rem;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

/* ----------------------------  I N D E X   ---------------------------------- */

main .bg-img {
    background-image: url(/IMG/sneaker-4687823_1280.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    padding: 3rem 0rem 3rem 0rem;
    margin: 1rem 0rem 1rem 0rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

/* Bildekreditering: Fotograf: Aus Leidenschaft Bildet er tatt av <a href="https://pixabay.com/no/users/domenik2212-11054730/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4687823">Domenik</a> "https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4687823">Pixabay*/


main .bg-img .info {
    width: 100%;
    height: auto;
    top: 50%;
    text-align: align;
}

main .bg-img .info .head {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: var(--fontHeader);
    font-weight: 500;
    color: var(--color-grayscale-1);
    text-shadow: 0px 5px 5px 5px rgba(0, 0, 0, .5);
}

main .bg-img .info .head h1 {
    margin-top: -2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .4);
}

main .bg-img .info .head h1 span {
    color: var(--color-warm-1);
    text-shadow: 0px 5px 5px 5px rgba(255, 255, 255, 0.5);
}

main .bg-img .info .head p {
    width: 100%;
    height: auto;

    text-align: center;
    font-size: var(--fontsizeh4);
    font-weight: 500;
    font-style: italic;
    color: var(--color-warm-3);

    background-color: rgba(0, 0, 0, .4);

}

main .bg-img .info .search {
    /* position: relative
    transform: translateX(-50%)*/
    width: 100%;
    height: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, .4);
}

#search-input{
    max-width: 50%;
    height: 3.4rem;
    border-radius: 0.9rem 0rem 0rem 0.9rem;
}
#search-submit{
    width: 15%;
    height: 3.4rem;
    border-radius: 0rem 0.9rem 0.9rem 0rem;
    background:var(--color-grayscale-1) ;
    color: var(--color-warm-2);
    text-align: center;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

main .bg-img .info .search input[type="text"]{
    height: 50px;
    width: 98%;
    font-weight: 200;
    font-size: 1rem;
    text-align:center;
    outline: none;
    border: none;
    color: var(--color-warm-2);
}

main .bg-img .info .search input[type="text"]:focus::placeholder {
    color: transparent;
  }

main .bg-img .info .search input[type="submit"]{
    font-weight: 200;
    font-size: 1rem;
    padding: 0.1rem;
    outline: none;
    border: none;
    cursor: pointer;
    background:var(--color-grayscale-1) ;
    color: var(--color-warm-2);
}

::placeholder {
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-grayscale-6);
}

.qs-container {
    max-width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: rgba(0, 0, 0, .4);
}

.qs-content {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--fontsizeh5);
    font-weight: 500;

    padding: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.qs-container h1 {
    width: 100%;
    height: auto;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    color: var(--color-grayscale-1);
    font-size: var(--fontsizeh2);
    padding: 2rem;
}

.qs-button {
    padding: 0.9rem;
    border-radius: 1.5rem;
    letter-spacing: 0.1rem;
    background-color: var(--color-pink-2);
    border: var(--color-pink-2);
    color: var(--color-grayscale-1);
    box-shadow: 0 .125em .5em rgba(0, 0, 0, .5);
}

/* ----------------------------  P R O D U K T S I D E   ---------------------------------- */

/* ----------------------------  V A L G F R I  /  O M  O S S   ---------------------------------- */

#header-color {
    color: var(--color-green-5);
}

#omoss-image {
    width: 100%;
    height: auto;
    background-color: var(--color-grayscale-1);
    object-fit: cover;
    object-position: center;
    padding: 3rem 0rem 1rem 0rem;
    margin: 1rem 0rem 1rem 0rem;
}

.omoss-container {
    text-align: center;
    font-weight: 200;
    font-size: var(--fontsizeh5);
    padding: 1rem 0rem 3rem 0rem;
    margin: 0.2rem 0rem 1rem 0rem;
}

/* ------------------------------------------------------------------------- */
/* -----------------------  F O O T E R   ---------------------------------- */
/* -------------------------------------------------------------------------- */

footer {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;

    background-color: var(--color-grayscale-1);
    background-image: linear-gradient(var(--color-grayscale-2), var(--color-grayscale-1));
    box-shadow: 0 0 2em rgba(0, 0, 0, .1);
    padding: 1rem;



    text-align: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}

footer p {
    font-weight: 600;
    letter-spacing: 0.1rem;
}

footer .service {
    list-style: none;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    padding: 0.6rem;
    font-weight: 500;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer .service li a{
    text-decoration: none;
    color: var(--color-purple-3);
}

footer .service li a:visited{
    text-decoration: none;
    color: var(--color-purple-2);
}

footer .social-media {
    list-style: none;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    padding: 0.6rem;
    font-weight: 400;

    display: flex;
    justify-content: space-evenly;
}

footer .social-media .fa-brands{
    text-align: center;
    color: var(--color-warm-1);
    font-size: 1.5rem;
    padding: 0.6rem;
}

@media screen and (min-width: 600px){
s
    footer .service li a:hover{
        text-decoration: none;
        color: var(--color-pink-4);
        letter-spacing: 0.5rem;
    }
    footer .social-media .fa-brands:hover{
        text-align: center;
        color: var(--color-pink-4);
        font-size: 1.8rem;
        padding: 0.6rem;
    }
}
